.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(var(--color-black), 0.2);
    }

    &--blue {
        background-color: var(--color-primary);
        color: var(--color-white);

        &::after {
            background-color: var(--color-primary);
        }
    }

    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}

.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    background-color: transparent;
    cursor: pointer;
    padding-bottom: 0.2rem;
    transition: all 0.2s ease;

    &:hover {
        color: var(--color-grey-dark-1);
        transform: scale(1.2);
        span {
            margin-left: 0.8rem;
        }
    }

    &:focus {
        outline: none;
    }

    & span {
        margin-left: 0.3rem;
        transition: margin-left 0.2s ease;
    }
}

