.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-family: inherit;
        font-size: 1.5rem;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 0.2rem;
        background-color: var(--color-white);
        border: none;
        border-bottom: 0.3rem solid transparent;
        transition: all 0.3s ease;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.1);
            border-radius: 0.3rem;
            border-bottom: 0.3rem solid var(--color-primary);

            &:invalid {
                border-bottom: 0.3rem solid var(--color-secondary-dark);
            }
        }

        &::-webkit-input-placeholder {
            color: var(--color-grey-dark-2);
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s ease;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}
