// COLORS
:root {
    --color-primary: #2998ff;
    --color-primary-dark: #5643fa;
    --color-secondary-dark: #ff7730;

    --color-grey-light-1: #f7f7f7;
    --color-grey-light-2: #eee;

    --color-grey-dark: #777;
    --color-grey-dark-2: #999;
    --color-grey-dark-3: #333;

    --color-white: #fff;
    --color-black: #000;

    // FONT
    --default-font-size: 1.6rem;

    // ELSE
    --default-border-radius: 0.3rem;
}
