.app {
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #222;
        height: 20rem;
        color: white;
        margin-bottom: 10rem;
    }
    &__logo {
        animation: spin infinite 20s linear;
        height: 8rem;
        margin-top: 2rem;
    }
    &__title {
        font-size: 3rem;
        padding: 2rem;
    }
}

.container {
    display: flex;
    justify-content: center;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-grey-light-2);
    color: var(--color-primary);
    border-radius: 0.8rem;
    margin-top: 2rem;
    padding: 10rem;
    transition: all 0.4s ease;
    box-shadow: 0 .5rem 2rem var(--color-grey-dark-2);

    &__title {
        text-transform: uppercase;
    }
}
