.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-primary);
    font-size: var(--default-font-size);
}

.logged-user {
    color: var(--color-secondary-dark);
}

.user-list {
    background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
    border-radius: 2rem;
    color: var(--color-white);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.5rem 2rem var(--color-grey-dark-2);

    &__title {
        text-transform: uppercase;
    }
    &__item {
        color: var(--color-primary-dark);
        padding: 1.2rem;
        list-style: none;
        border-radius: 100rem;
        margin: 1rem;
        background-color: var(--color-grey-light-2);
        box-shadow: 0 0.5rem 2rem var(--color-black);
    }
}
